/* Base styles */
.page-thunder-to-text {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.page-thunder-to-text canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.page-thunder-to-text input {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border: 4px solid rgba(255, 255, 255, 0.6);
  width: 50%;
  min-width: 300px;
  max-width: 90%;
  margin: auto;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding: 0 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.page-thunder-to-text input:hover,
.page-thunder-to-text input:focus {
  border: 7px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.3);
}

.page-thunder-to-text input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.362);
}

.page-thunder-to-text input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.362);
}

.page-thunder-to-text input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.362);
}

/* Tablet styles */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page-thunder-to-text input {
    width: 60%;
    min-width: 400px;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    bottom: 40px;
  }
}

/* Mobile landscape styles */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .page-thunder-to-text input {
    width: 70%;
    min-width: 250px;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    bottom: 20px;
    padding: 0 15px;
  }
}

/* Mobile portrait styles */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .page-thunder-to-text input {
    width: 85%;
    min-width: 200px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    bottom: 30px;
    padding: 0 15px;
  }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
  .page-thunder-to-text input {
    width: 90%;
    min-width: 180px;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    bottom: 25px;
    padding: 0 12px;
  }
}

/* Extra small devices */
@media screen and (max-width: 320px) {
  .page-thunder-to-text input {
    width: 95%;
    min-width: 150px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    bottom: 20px;
    padding: 0 10px;
  }
}

/* High DPI displays */
@media screen and (-webkit-min-device-pixel-ratio: 2), 
       screen and (min-resolution: 192dpi) {
  .page-thunder-to-text input {
    border-width: 2px;
  }
  
  .page-thunder-to-text input:hover,
  .page-thunder-to-text input:focus {
    border-width: 4px;
  }
}